body {
  margin: 0;
  padding: 0;
}

.container {
  width: 800px;
  margin: 0 auto;
}

header {
  height: 200px;
  /*background-color: rgb(255, 168, 168);*/
}

.navbar .active {
  background-color: rgb(243, 195, 195);
}

#wrapper {
  display: flex;
}

main {
  width: 600px;
  margin: 0 auto;
  /*background-color: rgb(91, 125, 91);*/
}

aside {
  width: 200px;
  margin: 0 auto;
  /*background-color: rgb(17, 17, 17);*/
}
